
<div class="card">
  <div class="card-body">
    <form  [formGroup]="modelForm"  (ngSubmit)="submit()">
      <div class="form-group">
        <label for="nombre"> Nombre</label>
        <input type="text"
               formControlName="nombre"
               class="form-control form-control-sm"
               id="nombre"
               placeholder="Nombre de la categoria">
        <app-messages [model]="'categoria'" [campo]="'nombre'" [control]="modelForm.get('nombre')"  ></app-messages>
      </div>
      <div class="form-group">
        <label for="nombre"> Descripción</label>
        <input type="text"
               formControlName="descripcion"
               class="form-control form-control-sm"
               id="descripcion"
               placeholder="Nombre de la categoria">
      </div>
      <button type="submit" class="btn btn-success btn-sm" > Enviar</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="close()" > Cancelar</button>
    </form>
  </div>
</div>
