<div>
  <tabset [justified]="true">
    <tab heading="Login" id="tab1">
      <div class="card">
        <div class="card-body">
          <div *ngIf="loginMessage != ''" class="alert alert-danger" role="alert">
            {{loginMessage}}
          </div>
          <form   [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email_login">Email</label>
              <input type="email"
                     formControlName="email"
                     class="form-control form-control-sm"
                     id="email_login"
                     placeholder="Ingrese su email"
                     aria-describedby="emailHelp">
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
              <label for="password_login">Contraseña</label>
              <input type="password"
                     formControlName="password"
                     class="form-control form-control-sm"
                     id="password_login"
              placeholder="Ingrese su contraseña">
            </div>
            <button type="submit" class="btn btn-success btn-sm" aria-pressed="true">Enviar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="close()">Cerrar</button>
          </form>.
        </div>
      </div>

    </tab>
    <tab heading="Registrarse">
      <div class="card">
        <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="registro()">
        <div class="form-group">
          <label for="nombre">Nombre </label>
          <input type="text" class="form-control form-control-sm"
                 id="nombre"
                 formControlName="nombre"
                 placeholder="Ingrese su nombre"
                [ngClass]="registerForm.get('nombre').invalid ? 'is-invalid': ''" >

          <!--<small id="nombre_message" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos </label>
          <input type="text" class="form-control form-control-sm"
                 id="apellidos"
                 formControlName="apellidos"
                 aria-describedby="emailHelp"
                 placeholder="Ingresesu nombre">
          <!--<small id="nombre_message" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control form-control-sm"
                 id="email"
                 formControlName="email"
                 placeholder="Ingrese su email"
                 aria-describedby="emailHelp">
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password"
                 class="form-control form-control-sm"
                 id="password"
                 formControlName="password"
          placeholder="Ingrese su contraseña">
        </div>
        <button type="submit" class="btn btn-success btn-sm" [disabled]="!registerForm.valid">Enviar</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="close()">Cerrar</button>
      </form>
        </div>
      </div>
    </tab>
  </tabset>
</div>
